<!--=== Content Part ===-->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "jquery.ui.addresspicker" %>

<script type="text/javascript">
  $(function() {
    var addresspicker = $( "#addresspicker" ).addresspicker({
      regionBias: "sg"});
  });
</script>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class ="one-page">
  <div class="one-page-inner one-light-green">
    <div class="container">
     <div class="row margin-bottom-30">
        <h5>Enter your address to begin</h5>

        <%= simple_form_for :lookup, { url: new_user_registration_path, :html => { :method => 'GET' }} do |f| %>
        <div class="form-inputs">
          <%= f.input :address, :placeholder => "e.g. 120 Tanjong Rhu Road, Singapore", :input_html => {:id => "addresspicker", :class => "form-control margin-bottom-20"}, label: false %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Find Happenings around you!", :class => 'btn-u btn-block color-green' %>
        </div>
        <% end %>

    </div><!--/row-->
  </div>
</div>
 <div class="header-divider"></div> 
</div>

<div class="container">
<!-- Promo box -->

<div class="row">
        <div class="col-sm-3">
            <div class="promo-box">
                <i class="fa fa-bullhorn color-blue"></i>
                <strong>Local Discussions</strong>
                <p>Chat about things hyperlocally</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="promo-box">        
                <i class="fa fa-chain-broken color-blue"></i>
                <strong>Report a Problem</strong>
                <p>Spotted something broken? Report it directly to the relevant agency</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="promo-box">
                <i class="fa fa-money color-blue"></i>
                <strong>Classifieds</strong>
                <p>Buy & Sell items nearby</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="promo-box">
                <i class="fa fa-rss color-blue"></i>
                <strong>Local Events</strong>
                <p>Join & Organise Events around you</p>                
            </div>        
        </div>

        
    </div>

<!-- End Promo box -->
</div>


<!--=== End Content Part ===-->